<div class="chat-carousel">
    <ul class="chat-carousel-list">
        <li class="chat-carousel-list-item">
            <img [src]="message.url" [alt]="message.title" srcset="">
        </li>
        <li class="chat-carousel-list-item">
            <img [src]="message.url" [alt]="message.title" srcset="">
        </li>
        <li class="chat-carousel-list-item">
            <img [src]="message.url" [alt]="message.title" srcset="">
        </li>
        <li class="chat-carousel-list-item">
            <img [src]="message.url" [alt]="message.title" srcset="">
        </li>
    </ul>  
</div>